<%- include('../includes/head.ejs', { title: 'Admin' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
  <%- include('../includes/header.ejs') %>
  <main>
    <h1>The Admin Page</h1>
    <p>관리자만 접근이 가능합니다.</p> <p>권한 부여 문의는 <a href="mailto:youjin030700@gmail.com">youjin030700@gmail.com</a></p>
  </main>
</body>
</html>