<%- include('../includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('../includes/header.ejs') %>
  <main>
    <h1>404 not found</h1>
    <p>can't find page</p>
  </main>
</body>
</html>