<%- include('../includes/head.ejs', { title: 'Login' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
  <!-- 만약 사용자가 로그인하면 환영합니다 000님 alert 창 -->
  <%- include('../includes/header.ejs') %>
  <main class="sale-main">
        <% for(const item of items){ %>
            <%- include('../includes/sale-item-for-user', {item:item})%>
        <% } %>

    <a href="/myBag" class="floating"><img src="https://user-images.githubusercontent.com/50348197/180921974-c1989a6f-b0bc-4e6f-a189-280e174c414b.png" alt="장바구니" width="50rem"></a>
  </main>
</body>