<%- include('../includes/head.ejs', { title: 'WELCOME' }) %>
</head>
<body>
  <%- include('../includes/header.ejs') %>
  <main>
    <h1>댕냥냠냠</h1>
    <p>강아지/고양이 간식 전문 쇼핑몰 댕냥냠냠에 오신 것을 환영합니다!</p>
    <p></p>
  </main>
</body>
</html>